<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Produtos</title>
  <link rel="stylesheet" href="/static/cadastro.css">
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <script>
    setTimeout(() => {
      document.getElementById("formProduto").addEventListener("submit", function (event) {
        Swal.fire({
          title: "Cadastrado!",
          text: "Produdo cadastrado com sucesso!",
          icon: "success"
        })
      });
    }, 5000);

  </script>
</head>

<body>

  {% include 'custom-header.html' %}

  <main>

    <div class="alinhamento">
      <h1>Cadastre a Venda</h1>

      <form id="formProduto" action="/api/empresa" method="POST">

        <label for="codigo">
          <span>Código do Produto</span>
          <input type="text" id="codigo" name="codigo">
        </label>

        <label for="descricao">
          <span>Descrição do Produto</span>
          <input type="text" id="descricao" name="descricao">
        </label>

        <label for="preco">
          <span>Preço</span>
          <input type="text" id="preco" name="preco">
        </label>

        <label for="quantidade">
          <span>Quantidade</span>
          <input type="text" id="quantidade" name="quantidade">
        </label>

        <label for="nome_cliente">
          <span>Cliente</span>
          <input type="text" id="nome_cliente" name="nome_cliente">
        </label>


        <input type="submit" value="Cadastre">
      </form>
    </div>
    <section class="images">
      <img src="/static/logo.png" alt="Logo">
    </section>
  </main>

</body>
</html>