<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Relatório de Estoque</title>
  <link rel="stylesheet" href="/static/cadastro.css">
  
</head>
<body>
  <h1>Relatório de Estoque</h1>
  <table>
    <thead>
      <tr>
        <th>Nome do Produto</th>
        <th>Quantidade em Estoque</th>
      </tr>
    </thead>
    <tbody>
      {% for produto, quantidade in dados_estoque %}
        <tr>
          <td>{{ produto }}</td>
          <td>{{ quantidade }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</body>
</html>
