<!DOCTYPE html>
<html>
<nav>
    <div class="logo">
        <img src="/static/main.png" alt="Logo" />
    </div>
    <header>
        <ul>
            <li><a href="/main">Página Inicial</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Cadastro</a>
                <div class="dropdown-content">
                    <a href="/cadastro_cliente">Cadastro do Cliente</a>
                    <a href="/cadastro_empresa">Cadastro da Empresa</a>
                    <a href="/cadastro_produto">Cadastro do Produto</a>
                    <a href="/cadastro_venda">Cadastro de Vendas</a>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" class="dropbtn">Contas</a>
                <div class="dropdown-content">
                    <a href="/contas_pagar">Contas a Pagar</a>
                    <a href="/contas_receber">Contas a Receber</a>
                </div>
            </li>
            <li><a href="/controle_estoque">Controle de Estoque</a></li>
        </ul>
    </header>
</nav>

</html>