{% extends 'base_login.html' %}

  {% block conteudo %}
<script type="text/javascript">
    function preventBack() {
        window.history.forward(); 
    }
      
    setTimeout("preventBack()", 0);
      
    window.onunload = function () { null };
</script>
         <div id="container">
           
            <img id="logo" src="/static/admin.png" alt="Logo 400x400 px">
            <h2> Seja bem-vindo ao nosso sistema!</h2>


           <form action="/login_empresa" method="POST">
              <!-- campos do formulário -->
              <div id="form">
                <input type="text" name="empresa" placeholder="Nome da organização">
                <input type="password" name="password" placeholder="Senha">
                {% if error %}
                <p>{{ error }}</p>
                {% endif %}
                <button type="submit">Entrar</button>
              </div>
            </form>

         </div>
  {% endblock %}